body {
	font-family: "Acme", sans-serif;
	background-image: url(../images/home.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.home {
	display: flex;
	justify-content: end;
	align-items: center;
	text-align: center;
	height: 500px;
	color: white;
}

.nav-link,
.nav {
	color: white;
}

.home h1 {
	font-size: 100px;
	color: sandybrown;
}

.btn {
	background-color: sandybrown;
	border: none;
}

.about {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: start;
	background-color: palegoldenrod;
}

.abt-row {
	display: flex;
	align-items: center;
}

#abt-para {
	padding-right: 60px;
}

.features {
	display: flex;
	align-items: center;
	background-color: #001227;
	color: white;
	height: 700px;
}

footer{
	display: flex;
	color: white;
}
